.sidebar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: rgba(15, 15, 15, 1);
    color: white;
    padding: 0rem 1rem;
}